services:
    postgres:
        image: postgres

        container_name: greenscale-postgres

        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

        ports:
            - "5432:5432"

        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}

    mqtt:
        build:
            context: ./docker/mosquitto

        container_name: greenscale-mqtt

        volumes:
            - ./docker/mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
            - ./docker/mosquitto/certs:/mosquitto/client-certs

        ports:
            - "8883:8883"
            - "1883:1883"

        environment:
            - MQTT_USERNAME=${MQTT_USERNAME}
            - MQTT_PASSWORD=${MQTT_PASSWORD}

        restart: always

        entrypoint: ["/bin/sh", "-c", "/mosquitto/config/start.sh"]

volumes:
    postgres_data:
