services:
    postgres:
        image: postgres

        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

        ports:
            - "5432:5432"

        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
    mqtt:
        image: eclipse-mosquitto:latest
        volumes:
            - ./docker/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
        ports:
            - "1883:1883"
        restart: always
volumes:
    postgres_data:
